/*reset start*/
body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,form,button,input,textarea,fieldset,blockquote,img,iframe,pre,code,hr,legend{padding:0;margin:0}
body{color:#333;font:12px Arial,Helvetica,sans-serif,Simsun}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
ol,ul{list-style:none}
img{border:0;vertical-align:top}
input,select,input,textarea{font-size:12px;outline:0}
select,input{vertical-align:middle}
input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="file"]>input[type="button"]::-moz-focus-inner{border:0;padding:0;margin-bottom:}
textarea{resize:none}
fieldset{border:0}
table{border-collapse:collapse;border-spacing:0}
caption,th{text-align:left}
address,cite,code,em,th,i,strong{font-style:normal;font-weight:normal}
a{text-decoration:none;outline:0}a:hover{text-decoration:none}
body{font-family:"Microsoft YaHei","微软雅黑","Hiragino Sans GB",tahoma,arial,simhei;color:#333}
.none{display:none}
a{color:#666}a:hover{color:#666}
.clearfix:after{content:'.';display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%}
/*reset end*/